<% if restaurant.reviews.any? %>
  <section> 
    <% restaurant.reviews.each do |review|%>
      <artical>
        <% if current_user == review.user %>
          <a><i>"<%= "#{review.thoughts} #{review.rating}" %>"</i></a>
          <%= link_to content_tag(:i, nil, :class => "fa fa-trash"), review_path(review), method: :delete, id: 'delete-review' %>
        <% else %>
          <a><%= "#{review.thoughts} #{review.rating}" %></a>
        <% end %>  
        <a class="endorsements-count"><%= review.endorsements.count %></a>
        <a>endorsements</a>
        <%= link_to content_tag(:i, nil, :class => "fa fa-thumbs-o-up fa-2x"), review_endorsements_path(review), id: "endorsement-up-#{restaurant.name}" %>
      </artical>
    <% end %>
  </section>  
<% end %>