<% if @restaurants.any? %>
<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
    <artical>
      <%= image_tag restaurant.image.url(:thumb) %>
    </artical>

    <h2>
      <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %> 
      Average rating: <%= star_rating(restaurant.average_rating) %>
    </h2>
    
    <% if current_user == restaurant.user %>
      <h2><%= link_to content_tag(:i, nil, :class => "fa fa-pencil"), edit_restaurant_path(restaurant), :id => 'edit-restaurant' %></h2>
      <h2 ><%= link_to content_tag(:i, nil, :class => "fa fa-trash"), restaurant_path(restaurant), method: :delete, id: 'delete-restaurant' %></h2>
    <% end %>

    <h2><%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %></h2>

    <%= render 'reviews' %>
    
  </li>
  <% end %>
</ul>  
<% else %>
  No restaurants
<% end %>
<a href="/restaurants/new">Add a restaurant</a>